/** These properties allow nested category items to be displayed with proper representational indentation **/

.depth-0 { margin-left:0em; }
.depth-1 , .depth-2, .depth-3, .depth-4, .depth-5, .depth-6, .depth-7, .depth-8, .depth-9 { margin-left:2em; display:none; }

.promos-even { background-color: #EDF5FA;}
.promos-odd { background-color: #FFFFFF;}
.toggleRow { background-color: #F2F2F2; border-bottom:1px solid #bbb; }
.toggleable { border:1px dotted #ddd; }
.depth-0 { border:1px dotted #ccc; }
.prow{ padding: .5em; border:1px solid #eee; }
.promo-folder { font-weight:bold; }